<div class="uploadfilecontainer"
     (click)="fileInput.click()"
     appDragDrop
     (fileDropped)="onUploadFile($event)">
    <input hidden
           type="file"
           #fileInput
           (change)="onUploadFile($event.target.files)">
</div>

<div class="files-list"
     *ngFor="let file of files;let i=index">
    <p>{{ file.name }}</p>
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            (click)="deleteAttachment(i)">
        <!-- <img src="../../assets/Recycle_Bin_Full.png"> -->
        ×
    </button>
</div>
