# GLOBAL CONFIGURATIONS -------------------------------------------------------
node-version=12.18.2
engine-strict=true

# UTILS -----------------------------------------------------------------------
loglevel=info
progress=true

registry=https://registry.npmjs.org/
